<html lang="en" dir="ltr">
    <head>
        <link rel='manifest' href='manifest.json'>
        <meta name="theme-color" content="#1d5ea9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class='titlecon'>
    <h1>Arcs <span style='font-weight: 200;'>Slate</span>&nbsp;<span style='font-weight: 300; font-size: 15px;'>v3.0.0-indev5</span></h1>
    <p>Arcs was made in 2022 by <a target="_blank" href="clover.is-probably.gay">Clover Johnson</a> and was migrated to <a target="_blank" href="github.com/stalepretzels">Stale Pretzels</a> in 2023 for a complete rewrite.</p><br>

    <h3>Changelog:</h3>
    <ul>
    <li>Newlines now work correctly.</li>
    <li>Add about page.</li>
</ul>
    <br>
    <a href="/"><em>Proceed to chat app.</em></a>
    </div>
</body>
</html>
