<html lang="en" dir="ltr">
    <head>
        <link rel='manifest' href='manifest.json'>
        <meta name="theme-color" content="#1d5ea9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class='titlecon'>
    <h1>Arcs <span style='font-weight: 200;'>Slate</span>&nbsp;<span style='font-weight: 300; font-size: 15px;'>v3.0.0-indev5</span></h1>

    <p>Newlines now work correctly.</p>
    <br>
    <a href="/"><em>Proceed to chat app.</em></a>
    </div>
</body>
</html>
