<html>

<body>
  <%- include('partials/header.ejs'); -%>
    <div id="client">
      <div id="top-block">
        <% if (user) { %>
          <h1>Welcome, <%= user %>
          </h1>
          <% } %>
            <div id="chat-block">
              <div style="text-align: center; width: 100%; height: 10px; padding: 5px 0 0 0;">
              <strong>v1.1.0-indev6</strong>
            </div>
              <div id="future">
              </div>
              <div id="chat-form">
                <form id="form" id="chat_form">
                  <input id="chat_input_uploads" onchange="getBase64(this.files[0])" type="file" accept="image/*, video/*, audio/*"> 
                  <input id="chat_input" type="text">
                  <input type="submit" value="Send">
                </form>
          <!--      <div class="pickerContainer">
                <button id="emojiButton"><i class="bi bi-emoji-smile" style="font-size: x-large; position: relative; bottom: 8px;"></i></button>
                </div> -->
                <button id="scrollButton" onclick="var future = document.getElementById('future'); scrollToBottom(future);"><i class="bi bi-caret-down-square" style="font-size: x-large; position: relative; bottom: 8px;"></i></button>
              </div>
            </div>
            <button id="dmbutton" onclick="darkmodetoggle()"><i class="bi bi-moon-stars-fill"
                style="font-size: xx-large;"></i></button>
            <button id="unamebutton" onclick="window.location = '/login'"><i class="bi bi-person-circle" style="font-size: xx-large;"></i></button>
        <!--    <button id="notifbutton" onclick="notifReq()"><i class="bi bi-bell-fill" style="font-size: xx-large;"></i></button>-->
            <div>
              <span id="onlinebutton" tooltip="You are online" flow="right"><i id="onlineicon" class="bi bi-circle" style="font-size: xx-large;"></i></span>
            </div>

            <form id="room-form" id="room-form">
              <input id="room-input" type="text">
              <input type="submit" value="Send">
            </form>
            <br>
            <div style=" display: flex; justify-content: center;"><img width="100" src="ARCS.png">
      </div>

      <script src="/assets/jquery.js"></script>
      <script src="/assets/socket.io.js"></script>
      <script src="https://unpkg.com/picmo@latest/dist/umd/index.js"></script>
      <script src="https://unpkg.com/@picmo/popup-picker@latest/dist/umd/index.js"></script>
      <script src="https://unpkg.com/@picmo/renderer-twemoji@latest/dist/umd/index.js"></script>

<script>

function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

        var base = "";
function getBase64(file) {
   var reader = new FileReader();
   base = reader.readAsDataURL(form_file.files[0]);
   reader.onloadend = function() {
    globalThis.base = reader.result.toString()
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
}

function scrollToBottom(element) {
  element.scrollTo({
  top: element.scrollHeight,
  left: 0,
  behavior: "smooth",
});
}

        var form = document.getElementById('chat_input')
        var form_file = document.getElementById('chat_input_uploads')

        var user = document.cookie
          .split("; ")
          .find((row) => row.startsWith("user="))
          ?.split("%40")[1];
        var uname = document.cookie
          .split("; ")
          .find((row) => row.startsWith("uname="))
          ?.split("=")[1];
        var ip = httpGet('https://api.ipify.org');
        var pfpic = localStorage.getItem('pfp')

        if (uname == null || uname == "null" || uname == "") {
          window.location = "/login"
        }
        var socket = io.connect();
        socket.on('connect', function (data) {
          socket.emit('join', uname + ' (' + user + ') joined from ' + ip);
          socket.emit('joinEmit', uname + ' (' + user + ') joined.');
        });
        socket.on('broad', function (data) {
          $('#future').append(data);
        });

        socket.on("disconnect", () => {
          socket.emit('disconnected', uname + ' (' + user + ') left from ' + ip);
          socket.emit('disconnectEmit', uname + ' (' + user + ') left.');
        });

        $('form').submit(function (e) {
          e.preventDefault();
          var message = $('#chat_input').val();
          var form_file = document.getElementById('chat_input_uploads')
          if (form_file.value == '') {
            form.value = '';
            var data = {
              text: message,
              disName: uname,
              genName: user,
              pfp: pfpic
            };
            socket.emit('messages', data);
          } else {
            form.value = '';
            form_file.value = '';
            var data = {
              text: message,
              disName: uname,
              genName: user,
              file: globalThis.base,
              pfp: pfpic
            };
            console.log(Object.entries(data) + "\n" + base)
            globalThis.base = ""
            socket.emit('messages', data);
          }
        });
        

        $('#room-form').submit(function (e) {
          e.preventDefault();
          var roomtojoin = $('#room-input').val();
          document.getElementById('currRoom').textContent = roomtojoin;
          var data = {
            rtj: roomtojoin
          }
            socket.emit('roomJoin', data);
          }
        );

        function darkmodetoggle() {
          var e = document.body;
          var e1 = document.getElementById('chat-block')
          var e2 = document.getElementById('chat-form')
          var e3 = document.getElementById('future')
          var e4 = document.getElementById('dmbutton')
          var e5 = document.getElementById('unamebutton')
          var e6 = document.getElementById('onlinebutton')
          var e7 = document.getElementById('joinmsg')
          var e8 = document.getElementById('scrollButton')
          var e9 = document.getElementById('notifbutton')
          var e10 = document.getElementById('emojiButton')
          var e11 = document.getElementById('user')
          e.classList.toggle("dark-mode");
          e1.classList.toggle("dark-mode-b");
          e2.classList.toggle("dark-mode-border-top");
          e3.classList.toggle("dark-mode-fut");
          e4.classList.toggle("dark-mode-dmbtn");
          e5.classList.toggle("dark-mode-dmbtn");
          e6.classList.toggle("dark-mode-dmbtn");
          e7.classList.toggle("joinmsgdark");
          e8.classList.toggle("dark-mode-dmbtn");
          e9.classList.toggle("dark-mode-dmbtn");
          e10.classList.toggle("dark-mode-dmbtn");
          e11.classList.toggle("user-dark");
        }
      </script>
      <script>
        var onlicon = document.getElementById('onlineicon');
        var onltext = document.getElementById('onlinebutton');
        const onlinechecker = setInterval(() => {
          if (navigator.onLine == true) {
            onlicon.classList.remove('bi-exclamation-circle');
            onlicon.classList.add('bi-circle');
            onltext.setAttribute('tooltip', 'You are online.')
          } else if (navigator.onLine == false) {
            onlicon.classList.remove('bi-circle');
            onlicon.classList.add('bi-exclamation-circle');
            onltext.setAttribute('tooltip', 'You are not online.')
          }
        }, 1500);
      </script>
    </div>
    </div>
</body>

</html>