<html>
  <%- include('partials/header.ejs'); -%>
  <body>
    <style>
      table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
    </style>
    <div id="top-block">
          <h1>What is BopBot?</h1>

          <h3>List of banned words</h2>
          <table>
            <thead>
              <tr>
                <th>Phrase (s)</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>test</td>
                <td>test</td>
              </tr>
            </tbody>
          </table>
        </div>

  </body>
</html>