<html lang="en" dir="ltr">
    <head>
        <link rel='manifest' href='manifest.json'>
        <meta name="theme-color" content="#1d5ea9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class='titlecon'>
    <h1 style="padding-bottom: 10px; margin-bottom: 0px;">Something went wrong.</h1>
    <h2 style='font-weight: 200;'>Wait a while.</h3> 
    </div>
<p>We can't trace <em>exactly</em> what happened, but rest assured our chimpanzees are working hard to fix it.</p><br><br>

<pre><code>
Code:
<%= code %>

Message:
<%= msg %>

</code></pre>
</body>
</html>