<html>
  <%- include('partials/header.ejs'); -%>
  <body>
    <div id="top-block">
          <form id="login" method="post" action="/" onsubmit="finishUP()">
            <label>Create A Display Name...</label>
              <input type="text" id="name">
              <br><br>
              <label>Create A Profile Picture...</label>
              <input id="pfp" type="text"> 
              <br><br>
              <label>Create A Bio...</label>
              <input id="bio" type="text">
              <br><br>
              <input type="submit" formmethod="post" action="/">
<!--          <button onclick="window.location = '/'">Back to main page</button>-->
          </form>
          <p style="color:#a0a0a0">Due to overloaded buffers on the server, we've decided to redo (and revamp 👀) the profile system. This will take a while, but for now, just use links.</p>
          <noscript>
            <p>Please turn on JavaScript or this site <span style="color:rgb(213, 42, 42);"><i>won't</i></span> work</p>
          </noscript>
        </div>

        <script src="/assets/pako.js"></script>

        <script>
          class uModel {
    constructor({ pfp, disName, genName, url }) {
        this.pfp = pfp;
        this.disName = disName;
        this.genName = genName;
        this.url = url;
    }
}

          var user = localStorage.getItem('user')

          var base = "";
function getBase64(file) {
   var reader = new FileReader();
   reader.readAsDataURL(file)
   reader.onloadend = function() {
     globalThis.base = reader.result.toString()
//     document.write(globalThis.base)
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
  }   

  function finishUP() {
    var url = '/profile?pfp=' + $('#pfp').val() + '&disName=' + $('#name').val() + '&genName=' + localStorage.getItem('user') + '&bio=' + $('#bio').val()
    var obj = new uModel({ pfp: $('#pfp').val(), disName: $('#name').val(), genName: localStorage.getItem('user'), url: url})
    localStorage.setItem('uObj', JSON.stringify(obj))
  }

        </script>
  </body>
</html>