<html>

<body>
  <%- include('partials/header.ejs'); -%>
    <div id="client">
      <div id="top-block">
        <% if (user) { %>
          <h1>Welcome, <%= user %>
          </h1>
          <% } %>
            <div id="chat-block">
              <div id="future">
              </div>
              <div id="chat-form">
                <form id="form" id="chat_form">
                  <input id="chat_input_uploads" onchange="getBase64(this[0])" type="file"> 
                  <input id="chat_input" type="text">
                  <input type="submit" value="Send">
                </form>
              </div>
            </div>
            <button id="dmbutton" onclick="darkmodetoggle()"><i class="bi bi-moon-stars-fill"
                style="font-size: xx-large;"></i></button>
            <button id="unamebutton" onclick="window.location = '/login'"><i class="bi bi-person-circle" style="font-size: xx-large;"></i></button>
            <div>
              <span id="onlinebutton" tooltip="You are online" flow="right"><i id="onlineicon" class="bi bi-circle" style="font-size: xx-large;"></i></span>
            </div>
            <div style=" display: flex; justify-content: center;"><img width="100" src="ARCS.png">
      </div>
      <script src="/assets/jquery.js"></script>
      <script src="/assets/socket.io.js"></script>
      <script>
        var base = "";
function getBase64(file) {
   var reader = new FileReader();
   base = reader.readAsDataURL(form_file.files[0]);
   reader.onloadend = function() {
    globalThis.base = reader.result.toString()
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
}



        var form = document.getElementById('chat_input')
        var form_file = document.getElementById('chat_input_uploads')

        var user = document.cookie
          .split("; ")
          .find((row) => row.startsWith("user="))
          ?.split("%40")[1];
        var uname = document.cookie
          .split("; ")
          .find((row) => row.startsWith("uname="))
          ?.split("=")[1];
        if (uname == null || uname == "null" || uname == "") {
          window.location = "/login"
        }
        var socket = io.connect();
        socket.on('connect', function (data) {
          socket.emit('join', 'User joined.');
        });
        socket.on('broad', function (data) {
          $('#future').append(data);
        });

        $('form').submit(function (e) {
          e.preventDefault();
          var message = $('#chat_input').val();
          var form_file = document.getElementById('chat_input_uploads')
          if (form_file.value == 'aidsgiasdgkjasijdg') {
            form.value = '';
            var data = {
              text: message,
              disName: uname,
              genName: user
            };
            socket.emit('messages', data);
          } else {
            form.value = '';
            form_file.value = '';
            var data = {
              text: message,
              disName: uname,
              genName: user,
              image: globalThis.base
            };
            console.log(Object.entries(data) + "\n" + base)
            socket.emit('messages', data);
          }
        });

        function darkmodetoggle() {
          var e = document.body;
          var e1 = document.getElementById('chat-block')
          var e2 = document.getElementById('chat-form')
          var e3 = document.getElementById('future')
          var e4 = document.getElementById('dmbutton')
          var e5 = document.getElementById('unamebutton')
          var e6 = document.getElementById('onlinebutton')
          e.classList.toggle("dark-mode");
          e1.classList.toggle("dark-mode-b");
          e2.classList.toggle("dark-mode-border-top");
          e3.classList.toggle("dark-mode-fut");
          e4.classList.toggle("dark-mode-dmbtn");
          e5.classList.toggle("dark-mode-dmbtn");
          e6.classList.toggle("dark-mode-dmbtn");
        }
      </script>
      <script>
        var onlicon = document.getElementById('onlineicon');
        var onltext = document.getElementById('onlinebutton');
        const onlinechecker = setInterval(() => {
          if (navigator.onLine == true) {
            onlicon.classList.remove('bi-exclamation-circle');
            onlicon.classList.add('bi-circle');
            onltext.setAttribute('tooltip', 'You are online.')
          } else if (navigator.onLine == false) {
            onlicon.classList.remove('bi-circle');
            onlicon.classList.add('bi-exclamation-circle');
            onltext.setAttribute('tooltip', 'You are not online.')
          }
        }, 1500);
      </script>
    </div>
    </div>
</body>

</html>