<html>
  <%- include('partials/header.ejs'); -%>
  <body>
    <div id="top-block">
          <form method="post" id="login">
            <label>Create A Display Name...</label>
              <input type="text" id="name">
              <br><br>
              <label>Create A Profile Picture...</label>
              <input id="pfp" onchange="getBase64(this.files[0])" type="file" accept="image/*"> 
              <br><br>
              <input type="submit" formmethod="post">
              <button onclick="window.location = '/'">Back to main page</button>
          </form>
        </div>

        <script src="/assets/pako.js"></script>

        <script>
          var base = "";
function getBase64(file) {
   var reader = new FileReader();
   reader.readAsDataURL(file)
   reader.onloadend = function() {
     globalThis.base = reader.result.toString()
//     document.write(globalThis.base)
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
}

          $('#login').submit(function (e) {
          e.preventDefault();
          document.cookie = "uname=" + $('#name').val()
          localStorage.setItem("pfp", encodeURIComponent(globalThis.base))
      })
        </script>

  </body>
</html>