<html>
  <%- include('partials/header.ejs'); -%>
  <body>
    <div id="top-block">
          <form id="login" method="post" action="/" onsubmit="localStorage.setItem('uname', $('#name').val()); localStorage.setItem('pfp', $('#pfp').val()); localStorage.setItem('url', '/profile?pfp=' + $('#pfp').val() + '&disName=' + $('#name').val() + '&genName=' + localStorage.getItem('user') + '&bio=' + $('#bio').val())">
            <label>Create A Display Name...</label>
              <input type="text" id="name">
              <br><br>
              <label>Create A Profile Picture...</label>
              <input id="pfp" type="text"> 
              <br><br>
              <label>Create A Bio...</label>
              <input id="bio" type="text">
              <br><br>
              <input type="submit" formmethod="post" action="/">
<!--          <button onclick="window.location = '/'">Back to main page</button>-->
          </form>
          <p style="color:#a0a0a0">Due to overloaded buffers on the server, we've decided to redo (and revamp 👀) the profile system. This will take a while, but for now, just use links.</p>
        </div>

        <script src="/assets/pako.js"></script>

        <script>
//          import { uModel } from '/data/message.js';

          var user = localStorage.get('user')

          var base = "";
function getBase64(file) {
   var reader = new FileReader();
   reader.readAsDataURL(file)
   reader.onloadend = function() {
     globalThis.base = reader.result.toString()
//     document.write(globalThis.base)
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
  }   

        </script>
  </body>
</html>