<html>
    <%- include('partials/header.ejs'); -%>
    <body>
      <div id="top-block">
            <form method="post">
              <label>Create A Display Name...</label>
                <input type="text">
                <input type="submit" formmethod="post">
            </form>
          </div>

    </body>
</html>