<html>

<body>
  <%- include('partials/header.ejs'); -%>
    <div id="client">
      <div id="top-block">
        <% if (user) { %>
          <h1>Welcome, <%= user %>
          </h1>
          <% } %>
          <% if (room) { %>
            <h5>Current room <code><%=room%></code>
            </h5>
          <% } %>
            <div id="chat-block">
              <div id="future">
              </div>
              <div id="chat-form">
                <form id="form" id="chat_form">
                  <input id="chat_input_uploads" onchange="getBase64(this[0])" type="file" accept="image/*, video/*, audio/*"> 
                  <input id="chat_input" type="text">
                  <input type="submit" value="Send">
                </form>
                <button id="scrollButton" onclick="var future = document.getElementById('future'); scrollToBottom(future);"><i class="bi bi-caret-down-square" style="font-size: x-large; position: relative; bottom: 8px;"></i></button>
              </div>
            </div>
            <button id="dmbutton" onclick="darkmodetoggle()"><i class="bi bi-moon-stars-fill"
                style="font-size: xx-large;"></i></button>
            <button id="unamebutton" onclick="window.location = '/login'"><i class="bi bi-person-circle" style="font-size: xx-large;"></i></button>
        <!--    <button id="notifbutton" onclick="notifReq()"><i class="bi bi-bell-fill" style="font-size: xx-large;"></i></button>-->
            <div>
              <span id="onlinebutton" tooltip="You are online" flow="right"><i id="onlineicon" class="bi bi-circle" style="font-size: xx-large;"></i></span>
            </div>
            <div style=" display: flex; justify-content: center;"><img width="100" src="ARCS.png">
      </div>
      <script src="/assets/jquery.js"></script>
      <script src="/assets/socket.io.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/proxifly@latest/dist/index.min.js"></script>

<script>
    var proxifly = new Proxifly()
    var options = {
  mode: 'IPv4', // IPv4 | IPv6
  format: 'json', // json | text
};

        var base = "";
function getBase64(file) {
   var reader = new FileReader();
   base = reader.readAsDataURL(form_file.files[0]);
   reader.onloadend = function() {
    globalThis.base = reader.result.toString()
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
}

function scrollToBottom(element) {
  element.scrollTo({
  top: element.scrollHeight,
  left: 0,
  behavior: "smooth",
});
}

        var form = document.getElementById('chat_input')
        var form_file = document.getElementById('chat_input_uploads')

        var user = document.cookie
          .split("; ")
          .find((row) => row.startsWith("user="))
          ?.split("%40")[1];
        var uname = document.cookie
          .split("; ")
          .find((row) => row.startsWith("uname="))
          ?.split("=")[1];
        var ip = $.getJSON('https://ipinfo.io/json', function(data) {
  return JSON.stringify(data.ip, null, 2)
});
        var pfpic = document.cookie
          .split("; ")
          .find((row) => row.startsWith("pfp="))
          ?.split("=")[1];  

        if (uname == null || uname == "null" || uname == "") {
          window.location = "/login"
        }
        var socket = io.connect();
        socket.on('connect', function (data) {
          socket.emit('join', uname + ' (' + user + ') joined from ' + ip);
          socket.emit('joinEmit', uname + ' (' + user + ') joined.');
        });
        socket.on('broad', function (data) {
          $('#future').append(data);
        });

        socket.on("disconnect", () => {
          socket.emit('disconnected', uname + ' (' + user + ') left from ' + ip);
          socket.emit('disconnectEmit', uname + ' (' + user + ') left.');
        });

        $('form').submit(function (e) {
          e.preventDefault();
          var message = $('#chat_input').val();
          var form_file = document.getElementById('chat_input_uploads')
          if (form_file.value == '') {
            form.value = '';
          /*  var pfpic = document.cookie
              .split("; ")
              .find((row) => row.startsWith("pfp="))
              ?.split("=")[1]; */
            var data = {
              text: message,
              disName: uname,
              genName: user
//              pfp: pfpic
            };
            socket.emit('messages', data);
          } else {
            form.value = '';
            form_file.value = '';
           /* var pfpic = document.cookie
              .split("; ")
              .find((row) => row.startsWith("pfp="))
              ?.split("=")[1]; */
            var data = {
              text: message,
              disName: uname,
              genName: user,
              file: globalThis.base
//              pfp: pfpic
            };
            console.log(Object.entries(data) + "\n" + base)
            globalThis.base = ""
            socket.emit('messages', data);
          }
        });

        function darkmodetoggle() {
          var e = document.body;
          var e1 = document.getElementById('chat-block')
          var e2 = document.getElementById('chat-form')
          var e3 = document.getElementById('future')
          var e4 = document.getElementById('dmbutton')
          var e5 = document.getElementById('unamebutton')
          var e6 = document.getElementById('onlinebutton')
          var e7 = document.getElementById('joinmsg')
          var e8 = document.getElementById('scrollButton')
          var e9 = document.getElementById('notifbutton')
          e.classList.toggle("dark-mode");
          e1.classList.toggle("dark-mode-b");
          e2.classList.toggle("dark-mode-border-top");
          e3.classList.toggle("dark-mode-fut");
          e4.classList.toggle("dark-mode-dmbtn");
          e5.classList.toggle("dark-mode-dmbtn");
          e6.classList.toggle("dark-mode-dmbtn");
          e7.classList.toggle("joinmsgdark");
          e8.classList.toggle("dark-mode-dmbtn");
          e9.classList.toggle("dark-mode-dmbtn");
        }
      </script>
      <script>
        var onlicon = document.getElementById('onlineicon');
        var onltext = document.getElementById('onlinebutton');
        const onlinechecker = setInterval(() => {
          if (navigator.onLine == true) {
            onlicon.classList.remove('bi-exclamation-circle');
            onlicon.classList.add('bi-circle');
            onltext.setAttribute('tooltip', 'You are online.')
          } else if (navigator.onLine == false) {
            onlicon.classList.remove('bi-circle');
            onlicon.classList.add('bi-exclamation-circle');
            onltext.setAttribute('tooltip', 'You are not online.')
          }
        }, 1500);
      </script>
    </div>
    </div>
</body>

</html>