<html lang="en" dir="ltr">
    <head>
        <link rel='manifest' href='manifest.json'>
        <meta name="theme-color" content="#1d5ea9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class='titlecon'>
    <h1>Arcs</h1>
    <h3>An excellent free chat app.</h3>
    </div>
</body>
</html>
