<html lang="en" dir="ltr">
    <head>
        <link rel='manifest' href='manifest.json'>
        <meta name="theme-color" content="#1d5ea9"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class='titlecon'>
    <h1>Arcs <span style='font-weight: 200;'>Slate</span></h1>

    <span id="user" style="font-size: 3em;"><%= user %></span><br>
    <span id="bio" style="font-size: 1em;"><%= bio %></span><br>

    <a onclick='window.location = "/chat"' style="position: absolute; bottom: 70;"><em>Back to chat app.</em></a>
    </div>
</body>
</html>
