<html lang="en">
<body>
    <%- include('partials/header.ejs'); -%>
    <div class='titlecon'>
    <h1>Arcs <span style='font-weight: 200;'>Slate</span></h1>

    <h3><span style='font-weight: 200;'><em>Don't spam, please.</em></span></h3>
    <br>
    <h3><span style='font-weight: 200;'><em>No racism, homophobia, and the likes.</em></span></h3>
    <br>
    <h3><span style='font-weight: 200;'><em>Be kind.</em></span></h3>
    <br>
    <a href='/chat'><em>Proceed to chat app.</em></a>
    </div>
</body>
</html>
