<html>
    <%- include('partials/header.ejs'); -%>
<body>
    <h1>Header 1 <i>Italics</i> <strong>Bold</strong></h1>
    <h2>Header 2 <i>Italics</i> <strong>Bold</strong></h2>
    <h3>Header 3 <i>Italics</i> <strong>Bold</strong></h3>
    <h4>Header 4 <i>Italics</i> <strong>Bold</strong></h4>
    <h5>Header 5 <i>Italics</i> <strong>Bold</strong></h5>
    <br>
    <p>Paragraph <i>Italics</i> <strong>Bold</strong></p>

    <img id="test" src=<%=icon%> >
    <button id="test2">update</button>

    <script>
        var socket = io.connect();
        const f = document.getElementById('test')
        const g = document.getElementById('test2')
        const h = document.getElementById('test3')
        g.onclick = test(f) 
        h.onclick = notif()

        function test(elem) {
            socket.emit('imageUpdate', elem.src)
        }
    </script>
</body>
</html>