/* HAHAHAH REDESIGN + REWRITE GO BRRRRRRRRRRRRRRRRRR */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --txtclr: #000;
  --bgclr: #FFF;
  --stclr: #000;
  --mnubtnclr: black;
  --chtsubbg: #FFF;
  --chtinpbg: #ececec;
  --apndbrdr: black;
  --menubg: #c6c6c6;
}

@media (prefers-color-scheme: dark) {
  :root {
  --stclr: #c7c5c5;
  --bgclr: #323333;
  --mnubtnclr: #edebeb;
  --txtclr: whitesmoke;
  --chtsubbg: #575959;
  --chtinpbg: #575959;
  --apndbrdr: white;
  --menubg: #212121;
}
}

html,
body {
  padding: 10px;
  font-family: "Inter Tight", sans-serif;
  overflow: hidden;
  margin-left: 30px;
  background: var(--bgclr);
  color: var(--txtclr)
}

pre {
  font-family:  'Inter Tight', sans-serif;
  white-space: pre;
  margin: 0;
}

.leftmenu {
  position: fixed;
  top: 0;
  background: var(--menubg);
  width: 48px;
  height: 100%;
  align-items: center;
  left: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

#appendto {
  border: 1px solid var(--apndbrdr);
  width: calc(100% - 10px);
  height: calc(85% - 10%);
  border-radius: 0.5em;
  overflow-y: scroll;
  padding: 1.5px 7px;
}

#message {
  background: #1d5ea9;
  color: whitesmoke;
  padding: 3.5px 5px;
  border-radius: 0.5em;
  width: max-content;
  max-width: calc(100% - 10px);
  word-wrap: break-word;
  overflow: hidden;
}

#chatform {
  width: 100%;
  display: flex;
  margin-top: 3px;
  gap: 3px;
}

#chat_input {
  background: var(--chtinpbg);
  border: none;
  border-radius: 0.5em;
  width: calc(100% - 33px);
  margin-right: 3px;
  height: 40px;
  color: var(--txtclr);
  font-family: "Inter Tight", sans-serif;
}

#chatsubmit, .chatfiles {
  min-height: 30px;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
  color: var(--txtclr);
  background: var(--chtsubbg);
}

a {
  text-decoration: wavy underline;
  color: inherit;
}

textarea {
  resize: none;
}

.menubutton {
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--mnubtnclr);
}

.statusmsg {
  font-weight: bold;
  color: var(--stclr);
}

.hr {
  background: rgb(150, 150, 150);
  width: calc(100% - 4px);
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 1em;
}

.pfplink {
  text-decoration: underline;
  transition: color 1.5s;
  color: inherit;
  cursor: pointer;
  user-select: none;
}

.pfplink:hover {
  text-decoration: underline;
  transition: color 0.5s;
  color: #1d5ea9;
}