<html>
    <%- include('../partials/header.ejs'); -%>
    <body>
        <div id="error">
        <h1><i>You've been <strong>banned</strong>.</i></h1>
        <p>You've been banned. This was mostlikely because you violated our conduct multiple times. If you think this is a mistake, contact us.</p>
        </div> 
    </body>
</html>