<html>
    <%- include('../partials/header.ejs'); -%>
    <body>
        <div id="error">
        <h1><i>Well that's not good.</i></h1>
        <p>Sorry, but you're unauthorized to view this page, if you think this is a mistake, contact us.</p>
        <p style="color: rgb(196, 196, 196);">Error: 401 Unauthorized</p>
        </div> 
    </body>
</html>